.quiz-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.page {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 3px;
  padding: auto;
  margin: 2;
}

.question-form {
  
  gap: 10px;
  margin: 5px auto;
}

.question-form input, .quiz-creator input, .quiz-creator textarea {
  padding: 8px;
  margin: 5px;

}

.quiz-creator textarea {
  min-height: 100px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}
